<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Indent Outline"
            icon="icons/sample.gif"
            category="org.eclipse.ui"
            class="eu.hohenegger.indentationtree.views.SampleViewWrapper"
            id="eu.hohenegger.indentationtree.views.SampleViewWrapper">
      </view>
   </extension>

</plugin>
