<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="org.eclipse.ui"
            class="eu.hohenegger.indentationtree.views.IndentOutlineView"
            icon="icons/sample.gif"
            id="eu.hohenegger.indentationtree.views.IndentOutlineView"
            name="Indent Outline"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.GeneralTextEditor"
            class="eu.hohenegger.indentationtree.prefs.PreferencePage"
            id="eu.hohenegger.indentationtree.page1"
            name="Indent Outline">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="icons/sample.gif"
            id="eu.hohenegger.indentationtree.transfer"
            name="Indent Outline">
         <mapping
               scope="instance">
            <entry
                  node="eu.hohenegger.indentationtree">
               <key
                     match="prefix"
                     name="EDITOR_">
               </key></entry>
         </mapping>
      </transfer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.hohenegger.indentationtree.prefs.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
